NumPy String Functions

Functions	       Descriptions
add()	           concatenates two strings
multiply()	       repeats a string for a specified number of times
capitalize()	   capitalizes the first letter of a string
lower()	           converts all uppercase characters in a string to lowercase
upper()	           converts all lowercase characters in a string to uppercase
join()	           joins a sequence of strings
equal()	           checks if two strings are equal or not

NumPy String add() Function

In [4]:
import numpy as np

array1 = np.array(['iPhone: ', 'price: '])
array2 = np.array(['15', '$900'])

# perform element-wise array string concatenation
result = np.char.add(array1, array2)

print(result)

['iPhone: 15' 'price: $900']

NumPy String multiply() Function

In [6]:
array1 = np.array(['A', 'B', 'C']) 

result = np.char.multiply(array1, 2)  

print(result)

['AA' 'BB' 'CC']

NumPy String capitalize() Function

In [7]:
array1 = np.array(['eric', 'paul', 'sean'])  

result = np.char.capitalize(array1)  

print(result)

['Eric' 'Paul' 'Sean']

NumPy String upper() and lower() Function

In [8]:
array1 = np.array(['nEpalI', 'AmeriCAN', 'CaNadIan'])

result1 = np.char.upper(array1)
result2 = np.char.lower(array1)

print("To Uppercase: ",result1)
print("To Lowercase: ",result2)

To Uppercase:  ['NEPALI' 'AMERICAN' 'CANADIAN']
To Lowercase:  ['nepali' 'american' 'canadian']

NumPy String join() Function

In [9]:
array1 = np.array(['hello', 'world'])

result = np.char.join('-', array1)

print(result)

['h-e-l-l-o' 'w-o-r-l-d']

NumPy String equal() Function

In [19]:
array1 = np.array(['C', 'Python', 'Swift'])
array2 = np.array(['C++', 'Python', 'Java'])

result = np.char.equal(array1, array2)
result2 = np.equal(array1, array2)

print("As String np.char.equal():           ", result)
print("Normal Equal Comparision np.equal(): ", result2)

As String np.char.equal():            [False  True False]
Normal Equal Comparision np.equal():  [False  True False]